:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

body {
   background-color: rgb(2, 41, 68);
   min-height: 100vh;
}

#page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Header */

#header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#header-div h1 {
    font-size: 3.5rem;
    letter-spacing: 7px;
    color: rgb(255, 255, 255);
}

.header-line {
    height: 2px;
    width: 90%;
    background-color: white;
}

/* Main Content */

#main-content-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#playing-field-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#game-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameBoard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-title {
    color: white;
    letter-spacing: 1.2px;
}

#player-board {
    border: 2px solid aqua;
}

#computer-board {
    border: 2px solid rgb(255, 63, 63);
}

.gameBoard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

/* Cells */

.cell {
    background-color: rgb(20, 90, 140);
    width: 58px;
    height: 58px;
    border: 1px solid rgb(2, 41, 68);
}

.miss {
    background-image: url(./assets/images/miss-marker.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.hit {
    background-image: url(./assets/images/hit-marker.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Ships */

.ship {
    background-color: greenyellow;
    border: 1px solid green;
}

.draggable-ship { 
    display: flex;
    flex-direction: row;
    cursor: grab;
    width: fit-content;
    margin: 10px 3px 0px 3px;
    border: 1px solid navy;
    background-color: cornflowerblue;
}

.ship-wrapper {
    width: 60px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.ship-cell {
    width: 58px;
    height: 58px;
    border: 1px solid navy;
}

.ship-name-div {
    color: black;
    font-size: 1.1rem;
    text-align: center;
    margin: 5px 0 0 3px;
}

/* Dock */

#dock {
    width: 300px;
    height: 750px;
    display: flex;
    margin-right: 30px;
    flex-direction: column;
    align-items: center;
    color: white;
}

#dock h3 {
    font-size: 1.3rem;
    margin: 5px 0 0 0;
}

#ships-container {
    height: 100%;
    width: 375px;
    border: 5px solid gray;
    background-color: rgb(228, 228, 228);
}

.selected-ship {
    background-color: greenyellow;
    border: 1px solid green;
}

#rotate-button {
    display: flex;
    align-self: center;
    width: 50px;
    height: 50px;
    background-image: url(./assets/images/rotate-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
    background-color: transparent;
    border: none;
    margin-top: 4px;
}

#rotate-button:hover {
    cursor: pointer;
}

/* Message Box */

#message-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 0px 15px 0px 15px;
    width: 80%;
    height: 50px;
    border: 3px solid aqua;
    background-color: rgba(3, 57, 57, 0.609);
    color: white;
    font-size: 1.1rem;
}

/* Player name form */

#player-name-dialog {
    width: 325px;
    height: 325px;
    border: 3px solid aqua;
    background-color: rgba(3, 57, 57, 0.609);
    margin: auto;
}

#player-name-dialog[open] {
    display: flex;
    justify-content: center;
}

#player-name-dialog::backdrop {
    background-color: rgb(2, 41, 68);
}

#player-name-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}

#player-name-form input {
    text-align: center;
    width: 300px;
    height: 30px;
    border: 2px solid white;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.4rem;
}

#player-name-form h2 {
    font-size: 1.5rem;
}

#player-name-form label {
    font-size: 1.3rem;
}

#player-name-form input:focus {
    outline: none;
    border: 2px solid aqua;
}

#player-name-form input:invalid {
    outline: none;
    border: 2px solid red;
}

#player-name-form button {
    width: 100px;
    height: 40px;
    font-size: 1.1rem;
    border: 2px solid gray;
    border-radius: 5px;
}

#player-name-form button:hover {
    cursor: pointer;
}